.appcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.navbar-container {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 20px;
}

.component-container {
  background-color: black;
}