.navbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.navbarcontainer .imagediv {
  padding: 0;
  max-width: 10%;
  margin-left: 20px;
}

.navbarcontainer .links {
  padding: 0;
  max-width: max-content;
  text-transform: uppercase;
}

.navbarcontainer .links ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbarcontainer .navlink {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 2.5dvh;
  transition: color 0.2s ease-in;
  margin: 0 10px;
}

.navbarcontainer .navlink::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffbc00;
  transition: width 0.3s ease-in-out;
}

.navbarcontainer .navlink:hover::before {
  width: 100%;
}

.navbarcontainer .navlink:hover {
  color: #ffbc00;
}
